* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

#app {
    position: relative;
}

#view {
    width: 100%;

    background: black;
}

#position {
    width: 100%;
    height: 100vh;

    background: green;

    position: absolute;

    top: -100vh;
}